mixin title-vertical(title)
  .title-vertical&attributes(attributes)
    +text-input(`${title}_label`)(value=locals.translation[title]).title
    .content
      block

.logo

//- Glory
+title-vertical("glory").glory
  each j in range(0,7)
    .box
      +hidden-checkbox(`glory_${j}`)(value="0", checked).fakeradio
      each k in range(1,5)
        +checkbox(`glory_${j}`)(value=k).squarebox.fakeradio
        if (k < 5)
          .floatingbar

//- Name
+title-vertical("name").namebox
  each entry in NAME_SECTION
    label
      +checkbox(`namebox_${entry[0]}`).squarebox
      span=entry[1]


//- Key information
mixin infobox(name)
  .infobox
    .title
      +autoexpand(`${name}_label`)
        =locals.translation[name]
    .content&attributes(attributes)
      block
.info
  +infobox("epithet").epithet
    +autoexpand("epithet")
    +die-select("epithet_die", ["d6", "d8", "d10"])
  +hidden-input("boons_4_check_1")(value="0").hider
  +infobox("epithet").epithet
    +autoexpand("epithet_2")
  +infobox("name").character-name
    +text-input("character_name")
    +die-select("name_die", ["d6", "d8", "d10", "d12"])
  +infobox("lineage_pronouns").lineage-pronouns
    +autoexpand("lineage_pronouns")(data-i18n-placeholder="scion_of")
  +infobox("honored_god").honored-god
    +autoexpand("honored_god")
    each i in range(1,2)
      label
        +checkbox(`god_strength_${i}`).diamondbox

//- Domains
.domains
  +text-input("domains_label")(value=locals.translation["domains"]).title
  each domainName in DOMAINS
    .domain
      button(
        class=`domain-button-${domainName}`
        name=`roll_${domainName}`,
        type="roll",
        value=`&{template:agon-hero} {{name=@{character_name}}} {{type=${domainName}}} {{obstacle=[[@{target_query}]]}} {{@{epithet_and_name_query} + @{${domainName}_die}[@{${domainName}_translated}] @{${domainName}_extra_domain_query} + @{bonusdice_query}[@{advantage_bond_support_translated}]}k2 + @{divine_favor_query}d4k1[@{divine_favor_label}] ]]}}`
      )
        span(name=`attr_${domainName}_label`)
      +die-select(`${domainName}_die`, ["d6", "d8", "d10"])

//- Divine Favor
+title-vertical("divine_favor").favors
  each favor in DIVINE_FAVOR
    .favorbox
      +text-input(`${favor[0]}_label`)(value=locals.translation[favor[0]]).label
      +text-input(`${favor[1]}_label`)(value=locals.translation[favor[1]])
      each i in range(1,2)
        label
          +checkbox(`favor_${favor[0]}_${i}`).diamondbox

//- Style & Notes
+title-vertical("style_notes").style-notes
  +autoexpand("style_notes").notes

//- "Recite your deeds"
+title-vertical("recite_your_deeds").recite
  +autoexpand("recite_top_label")
    =locals.translation["recite_top"]
  each domainName in DOMAINS
    .recite-box
      +text-input(`${domainName}_label`)(value=locals.translation[domainName]).title
      +autoexpand(`recite_${domainName}_label`)
        =locals.translation[`recite_${domainName}`]
  +autoexpand("recite_bottom_label")
    =locals.translation["recite_bottom"]

.pathos-bonds
  .pathos-fate
    +text-input("pathos_label")(value=locals.translation["pathos"]).title
    +hidden-checkbox("pathos")(value="0", checked).fakeradio
    each i in range(1, NUM_PATHOS_BOXES)
      +checkbox("pathos")(value=i).circlebox.fakeradio
      .floating-vert-bar
    +text-input("agony_label")(value=locals.translation["agony"]).agony
    .floating-vert-bar
    +checkbox("pathos")(value=NUM_PATHOS_BOXES+1).circlebox.fakeradio
    .floating-vert-bar
    +text-input("fate_label")(value=locals.translation["fate"]).fate
    .floating-vert-bar
    +hidden-checkbox("fate")(value="0", checked).fakeradio2
    each i in range(1, NUM_FATE_BOXES)
      - cls = (i === 1 || i === 4 || i === 8) ? "squarebox fakeradio2 dot" : "squarebox fakeradio2";
      +checkbox("fate")(value=i, class=cls)
      if (i < NUM_FATE_BOXES)
        .floating-vert-bar
  .bonds
    +text-input("bonds_label")(value=locals.translation["bonds"]).title
    fieldset.repeating_bonds
      +number-input("bond_number")(value="0").bond-number
      +text-input("bond_name").bond-name
    .bond-uses
      +autoexpand("bond_use_top_label").top
        =locals.translation["bond_use_top"]
      each i in range(1,3)
        +autoexpand(`bond_use_${i}_label`).bond-use
          =locals.translation[`bond_use_${i}`]

//- Great deeds and boons
mixin boon(name, numboxes)
  .boon
    for i in range(1, numboxes)
      +checkbox(`${name}_check_${i}`).squarebox
    +autoexpand(`${name}_label`)
      =locals.translation[name]
.great-deeds-boons
  .great-deeds
    +text-input("great_deeds_and_trophies_label")(value=locals.translation["great_deeds_and_trophies"]).title
    fieldset.repeating_deeds
      +checkbox("deed_check").squarebox
      +autoexpand("deed_name")(data-i18n-placeholder="great_deed").deed-name
  .boons
    +text-input("boons_label")(value=locals.translation["boons"]).title
    each boon in BOONS[0]
      +boon(boon.name, boon.numboxes || 1)
    .divider
    each boon in BOONS[1]
      +boon(boon.name, boon.numboxes || 1)

.virtues
  +text-input("virtues_label")(value=locals.translation["virtues"]).title
  each virtue in ["acumen", "courage", "grace", "passion"]
    .virtue
      +number-input(virtue)(value="0").value
      +text-input(`${virtue}_label`)(value=locals.translation[virtue]).title
