.stats
  .divine-wrath
    +text-input("divine_wrath_label")(value=locals.translation["divine_wrath"]).title
    .checks
      each die in ["d8", "d10", "d12"]
        label
          +checkbox("divine_wrath")(value=die).trianglebox
          span=die
  .strife-level
    +text-input("plus_strife_level_label")(value=locals.translation["plus_strife_level"]).title
    .checks
      each level in ["0", "4", "5", "6"]
        label
          input(name="attr_strife_level", type="radio", value=level, checked=(level=="5"))
          span=`+${level}`

mixin strife(i)
  .enabled
    +checkbox(`strifedie_enabled_${i+1}`).squarebox
  +text-input(`strifedie_name_${i+1}`)(data-i18n-placeholder="die_placeholder")
  .harm
    each harm in ["epic", "mythic", "perilous", "sacred"]
      .harmbox
        +text-input(`${harm}_label_${i+1}`)(value=locals.translation[harm]).title
        +checkbox(`${harm}_${i+1}`).squarebox
  +die-select(`strifedie_size_${i+1}`, ["d6", "d8", "d10", "d12", "2d6", "2d8", "2d10", "2d12"], "d8")

fieldset.repeating_island
  +hidden-input("strife_formula")(value="{{roll=[[{d8[Name] + d8[Epithet]}k1 + @{strife_level}[Strife Level]]]}} {{harm=}}")
  //+text-input("great_deeds_and_trophies_label")(value=locals.translation["great_deeds_and_trophies"]).title
  .roller
    .dice
      .strife-dice
        each _, i in Array(12)
          +hidden-input(`strifedie_name_${i+1}`).strifedie-name
          if i > 2
            .strifedie
              +strife(i)
          else
            .strifedie.default
              +strife(i)
    .roll
      button(
        class="strife-button"
        name="roll_strife",
        type="roll",
        data-i18n="roll_strife"
        value="&{template:agon-strife} @{strife_formula} {{type=@{domain_query}}}"
      )
  .cnotes
    //+text-input("great_deeds_and_trophies_label")(value=locals.translation["great_deeds_and_trophies"]).title
    +autoexpand("style_notes")(data-i18n-placeholder="notes").notes